<% extend CommonHelper %>
<div class="cart-content">
    <!-- 判斷購物車是否為空 -->
  <% if current_cart.blank? %>
    <div class="cart-empty">
      <h4>
        <%= fa_icon("shopping-cart lg", text: "購物車目前是空的唷~") %>        
      </h4>
      <%= link_to "BACK TO SHOPPING", products_path, class: "btn" %>
    </div>
  <% else %>    
        <div class="table-responsive">
        <table class="table table-shopping">
          <thead>
            <tr>
              <th class="products-info"><span>商品資訊</span></th>
              <th class="text-center" style="width: 15%;">尺寸 / 數量</th>
              <th class="text-right">單價</th>
              <th class="text-right">小計</th>
            </tr>
          </thead>
          <tbody>
            <!-- 購物車詳細內容 -->
            <% totalprice = 0 %>
            <% @items.each do |item| %>
                <%= render "carts/cart_item_step2", item: item %>
                <%  totalprice += item.cartitem_total_price%>
            <% end %>
            <tr>
              <td colspan="4" style="text-align: right;" class="td-total-price">
                <div>
                <span>Total</span>
                <small>$</small>
                <span class="total-price" id="total-price">
                <%= totalprice %>
                </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>

</div>
     <!-- simple form -->
     
     <% if false %>                   
    <%= simple_form_for current_cart , url:operations_cart_path(current_cart), method: :patch, remote: true do |f| %>
    <% end %>
    <% end %>
<script type='text/javascript'>
var check_function  = (function() {  
    //設定ttile step狀態
    let set_step2_titlestyle = () => {
        document.getElementsByClassName('step2')[0].classList.add('step_to_shopping');
    }
    //取得所有function
    let allfunctoin = () =>{
      set_step2_titlestyle();
    } 
    return{
      init: allfunctoin,
    };
}());
(function() {      
  check_function.init();
})();
</script>