<div class="admin-products">
    <div class="container-fluid panel panel-default">
        <div class="page-header">
            <h3>
            商品分類
            <%= link_to new_admin_category_path, class: "btn-add pull-right",  rel: "tooltip", title: "新增商品種類" do %>            
            <i class="material-icons">add</i>
            <% end %>
            </h3>
        </div>
        <div class="panel panel-default">        
            <table class="table table-products">
                <thead>
                <tr>
                    <th>商品種類名稱</th>
                    <th class="th-funciton" style="padding-left: 12px;">功能
                    <i class="material-icons right">pan_tool</i> 
                    </th>
                </tr>
                </thead>
                <tbody>
                <% categories.each do |category| %>
                <tr>
                <td class="admin-category-name">
                <%= category.name %>
                </td>             
                <td class="admin-index-function">                
                    <div class="action-function">
                        <div class="action-function-btn ">
                        <%= link_to  edit_admin_category_path(category), class:"btn-edit" do %>
                            <i class="large material-icons">mode_edit</i>
                        <% end %>
                        <ul class="function-item">
                        <li>
                            <%= link_to  edit_admin_category_path(category),  class:"btn-edit",  rel: "tooltip",title: "編輯" do %>
                                <i class="large material-icons">mode_edit</i>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to  admin_category_path(category) , data: {confirm: "確定要刪除嗎?",title: "刪除",method: :delete }, rel: "tooltip" do %>
                                <i class="large material-icons">delete</i>
                            <% end %>
                        </li>
                        </ul>
                        </div>
                    </div>
                </td>
      </tr>
    <% end %>
  </tbody>
</table>
        </div>
        <!-- panelbody end -->
        <div class="paginate-body">
        <%= paginate categories %>
        </div>
    </div>
    <!-- container-fluid end-->
</div>
<!-- index end -->