<% provide :zaro_title, "ZARO" %>
<div class="product-body">
    <div class="products-header row">        
    </div>
    <div class="products-list-content--result">
        <ul class="items">
            <% @products.each do |product| %>
                <li>
                    <!-- 商品連接到修改 -->
                    <%= link_to edit_admin_product_path(product) , class: "items__image" do %>
                        <%= image_tag product.image.url ,title: product.name , alt: product.name %>
                    <% end %>
                    <!-- 商品資訊 -->
                    <div class="item_info">
                        <div class="productname">
                            <%= link_to product.name , edit_admin_product_path(product) %>
                        </div>
                        <ul class="size">
                            <li class="<%= render_nosize_line(product.s) %>">
                                    <span>S: <%= product.s %></span>件                                
                            </li>
                            <li class="<%= render_nosize_line(product.m) %>">
                                    <span>M: <%= product.m %></span>件
                            </li>
                            <li class="<%= render_nosize_line(product.l) %>">
                                <span>L: <%= product.l %></span>件
                            </li>
                        </ul>
                        <p>
                            <span>TWD.<%= product.price %> </span>
                        </p>
                    </div>
                </li>        
            <% end %>  
        </ul>
    </div>
</div>