<% provide :zaro_title, @product.name %>
<div class="product-content">
  <!-- 圖片 -->
  <div class="col-md-8">
    <div class="products-images">
    <%= image_tag(@product.image.url) %>
    <%= image_tag(@product.image.url) %>
      <% if false %>                    
      <% if @product.image.present? %>
        <%= image_tag(@product.image.url) %>
      <% else %>
        <%= image_tag("http://placehold.it/400x400&text=No Pic") %>
      <% end %>

      <% end %>
    </div>
  </div>
  <!-- 圖片 end-->
  <!-- 商品介紹 -->
  <!-- 商品操作表單，加入購物車以及下單的數據 -->
  <%= simple_form_for @product, method: :post, remote: true, url: buy_or_add_to_cart_product_path(@product) do |f| %>
  <div class="col-md-4">
        <div class="product-info">
          <div class="info-header">
            <h3> <%= @product.name %> </h3>
            <h4> <%= @product.category.name %> </h4>
            <h4> $  <%= @product.price %> NT </h4>
          </div>
        <!-- 商品顏色尺寸 -->
        <div class="product-color">
          COLOR: <span>黑</span>
            <div class="size-info">
            <%= f.label :size, '尚未選擇尺寸', name: "size" %>
            <%= f.input_field "", name: "size", value: "Size",id: "size" ,type: "hidden" %>            
            </div>
            <ul>
              <li>
                <%= link_to "#" do %>
                <%= image_tag "category/color/black.jpg" %>
                <% end %>
              </li>
              <li>
                <%= link_to "#" do %>
                <%= image_tag "category/color/brown.jpg" %>
                <% end %>
              </li>
            </ul>
        </div>
        <!-- 商品顏色尺寸 end -->
        <!-- 尺寸 size -->
        <div class="product-size">
          <div id="wrapper_select_text" class="wrapper_select_text">
            <span>SIZE</span>
            <ul class="select_list">
							<li><%= link_to "S", edit_size_quantity_product_path(@product,size: "S"), method: :post, remote: true %></li>
							<li><%= link_to "M", edit_size_quantity_product_path(@product,size: "M"), method: :post, remote: true %></li>
							<li><%= link_to "L", edit_size_quantity_product_path(@product,size: "L" ), method: :post, remote: true %></li>
						</ul>
          </div>
        </div>
        <!-- 尺寸 size end-->
        <!-- 商品庫存 -->
        <div class="product-quantity">
            <%= link_to "#" ,id: "quantity-minus",class: "quantity-minus" do %>
              <i class="material-icons">remove</i>
            <% end %>
            <%= f.input_field "", name: "quantity", value: 1, max: @product.s, id: "quantity-input", class: "quantity-input" %>
              <%= link_to "#", id: "quantity-plus", class: "quantity-plus" do %>
            <i class="material-icons">add</i>
            <% end %>
        </div>
        <!-- 商品庫存 end-->
        <!-- 加入購物車 -->
        <div class="product_buyandaddtocart">
          <div class="addtocart">
            <%= button_tag type:'button',class: "btn btn-raised",value: "add_to_cart" ,id: "add_to_cart", rel: "tooltip",title: "請選擇尺寸" do %>
              請選擇尺寸
            <% end %>
          </div>
          <%= hidden_field_tag(:commit, 'update') %>
          <div class="buyproduct">
            <%= button_tag type:'button',class: "btn btn-raised",value: "buy_product" , id: "buy_product",rel: "tooltip",title: "馬上下單" do %>
              立刻購買
            <% end %>
          </div>          
        <!-- 加入購物車 end -->
        </div>       
      </div>       
  </div>
  <% end %>
</div>
<!-- 商品介紹 end -->