<% extend CommonHelper %>
<%= link_to carts_path , class: "carts-item" do %>
    <i class="fa fa-shopping-cart fa-2x"> </i>
    <%= content_tag(:span,current_cart.total_items)  %>
<% end %>
<div class="dropdown-menu cart-body">
    <div class="cart">
        <div class="cart-header" data-background-color="blue">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </div>
        <br/>
        <div class="cart-content">
        <% @cart_items = current_cart.get_items %>
        <% if @cart_items.present? %>
            <!-- 找出所有存在此購物車的商品 -->            
                <div class="table-body">
                    <table>
                        <tbody>
                            <% @cart_items.each do |item| %>
                              <%= render "common/cart_item", item: item %>
                            <% end %>
                            <tr>
                                <!-- 計算總共幾件 -->
                                <td class="td-total-items">
                                    共<span><%= current_cart.total_items %></span>件
                                </td>
                                <td class="td-total-text">
                                Total
                                </td>
                                <td colspan="2" class="td-total-price">
                                <small>$ </small>
                                <span>
                                    <%= render_calculate_total_price(current_cart.total_price) %>
                                </span>
                                </td>                                
                            </tr>            
                        </tbody>
                    </table>
                </div>
                <!-- table-content -->
                <div class="cart-footer">                
                <%= link_to "CHECK OUT" ,checkout_cart_path(current_cart, item_ids: @cart_items.ids.map(&:to_s)) %>                    
                </div>
            <% else %>
            <div class="cart-empty">
                <h5> <%= fa_icon "shopping-cart",text: "尚未購買任何商品" %> </h5>
            </div>
        <% end %>            
        </div>
        <!-- cart-content end-->      
    </div>
</div>