<% extend CommonHelper %>
<nav class="navbar navbar-fixed-top navbar-inedx" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand zaro-logo" href="/">
            <span>Z</span>
            <span>A</span>
            <span>R</span>
            <span>O</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= form_tag products_path,method: :get do %>
                        <div class="form-group  search-text">
                            <%= text_field_tag 'query', params[:query],placeholder: "Search....",class: "form-control" %>                
                        </div>
                    <% end %>
                </li>
                <li>
                    <%= link_to carts_path , class: "carts-item" do %>
                        <i class="fa fa-shopping-cart"> </i>                    
                        <%= content_tag(:span,current_cart.products.count)  %>
                    <% end %>
                </li>
                <% if !current_user %>
                  <li><%= link_to("註冊", new_user_registration_path) %> </li>
                  <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.nickname %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">                        
                        <% if current_user && current_user.admin? %>
                        <li> <%= link_to "管理員後台", admin_products_path %> </li>
                        <li class="divider"> </li>                        
                        <% end %>                        
                        <li>
                          <%= link_to("個人訂單列表", account_orders_path ) %>
                        </li>
                        <li>
                        <%= link_to("登出", destroy_user_session_path, method: :delete ) %>
                        </li>
                    </ul>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- 商品選單列表 -->
    <div class="link_to_products_info">
        <ul>
            <li class="nav__w4 NEWEST">
                <a href="/WOMEN/NEWARRIVAL/NEWEST">                        
                    <span class="translate_tw">最新商品</span>
                    <span class="translate_en">最新商品</span>
                </a>
            </li>
            <li class="nav__w4 HOTTEST">
                <a href="/WOMEN/NEWARRIVAL/HOTTEST">
                    
                    <span class="translate_tw">熱賣商品</span>
                    <span class="translate_en">熱賣商品</span>
                </a>
            </li>
            <li class="active nav__w4 LIFE">
                <a href="/WOMEN/LIFE">                        
                    <span class="translate_tw">抗寒專區</span>
                    <span class="translate_en">LIFE</span>
                </a>
            </li>
            <li class="nav__w4 TRAVEL">
                <a href="/WOMEN/TRAVEL">
                    
                    <span class="translate_tw">旅遊企劃</span>
                    <span class="translate_en">TRAVEL</span>
                </a>
            </li>
            <li class="nav__w2 TOP">
                <a href="/WOMEN/TOP">
                    
                    <span class="translate_tw">上身</span>
                    <span class="translate_en">TOP</span>
                </a>
            </li>
            <li class="nav__w2 DRESS">
                <a href="/WOMEN/DRESS">
                    
                    <span class="translate_tw">洋裝</span>
                    <span class="translate_en">DRESS</span>
                </a>
            </li>
            <li class="nav__w2 BOTTOM">
                <a href="/WOMEN/BOTTOM">
                    
                    <span class="translate_tw">下身</span>
                    <span class="translate_en">BOTTOM</span>
                </a>
            </li>
            <li class="nav__w2 JUMPSUIT">
                <a href="/WOMEN/JUMPSUIT">
                    
                    <span class="translate_tw">套裝</span>
                    <span class="translate_en">JUMPSUIT</span>
                </a>
            </li>
            <li class="nav__w4 OUTER">
                <a href="/WOMEN/OUTER">
                    
                    <span class="translate_tw">外套罩衫</span>
                    <span class="translate_en">OUTER</span>
                </a>
            </li>
            <li class="nav__w2 ACC">
                <a href="/WOMEN/ACC">
                    
                    <span class="translate_tw">配件</span>
                    <span class="translate_en">ACC</span>
                </a>
            </li>
            <li class="nav__w4 SALE">
                <a href="/WOMEN/ONSALE">
                    
                    <span class="translate_tw">優惠折扣</span>
                    <span class="translate_en">SALE</span>
                </a>
            </li>
            <li class="nav__w10 DAILY WEAR">
                <a href="/Article/ArticleList?cate=0&amp;page=1">
                    
                    <span class="translate_tw">DAILY WEAR</span>
                    <span class="translate_en">DAILY WEAR</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
