<!DOCTYPE html>
<html>
  <head>
    <title>Zaro</title>
    <%= csrf_meta_tags %>
  
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin' %>
  </head>

  <body>
      <div class="container-fluid">
        <div class="row">
          <%= render "common/admin_navbar" %>
          <div class="admin-layout">
            <%= render "common/flashes" %>
            <div class="col-md-2">
              <%= render 'common/admin_sidebar' %>
            </div>
            <div class="col-md-10 admin-content" id="admin-layout-content">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<%= javascript_include_tag 'adminlayout' %>